<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>A List of Vacation Reviews</title>
</head>

<body>
	<header>
		<h1>Choose a Vacation Location</h1>
	</header>
	<p th:text="${reviews}"></p>
	
	<div th:each="review: ${reviews}">
		<h2>
				<p th:text="${review.title}"></p>
		
		<!--	<a th:href="@{/review(id=${category.id})}"  th:text="${category.name}"></a>  -->
		</h2>
		<h2 th:text="${review.id}" ></h2>
		<p th:text="${review.title}"></p>
		<p	th:text= "${review.description}"></p>
		
	</div>


</body>
</html>